/* **********************

     SECTION - ACTIVITY

*********************** */

.section-activity {
  padding-top: 15rem;
  padding-bottom: 25rem;
  // margin-top: 10rem;
  position: relative;
  background-color: rgb(55, 60, 241);
  filter: drop-shadow(0 1rem 1rem #070757);

  @include respond(phone-large) {
    padding-top: 6rem;
    padding-bottom: 15rem;
    filter: none;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../Image/cross-pattern-1.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
  }

  &__contents {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: center;

    @include respond(kpcl-834) {
      flex-direction: column;
    }

    @include respond(phone-large) {
      width: 88%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__col {
    width: 30%;
    // height: 42rem;
    /* background-color: aquamarine; */
    background-color: rgb(25, 67, 253);
    filter: drop-shadow(1rem 1rem 2rem #070757);
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @include respond(kpcl-834) {
      width: 90%;
      flex-direction: row;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    @include respond(phone-large) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding-bottom: 7rem;
    }

    &:not(:last-child) {
      @include respond(kpcl-834) {
        margin-bottom: 5rem;
      }

      @include respond(phone-large) {
        margin-bottom: 3rem;
      }
    }

    /* &:not(:last-child) {
      margin-right: 5rem;
    } */

    &-top {
      width: 100%;
      //height: 50rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding-top: 5rem;
      //padding-bottom: 1.5rem;
      /* background-color: #2ee716; */

      @include respond(kpcl-834) {
        padding-top: 2rem;
        padding-left: 5rem;
      }

      @include respond(phone-large) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 1.5rem;
        padding-left: 0;
      }

      &--1 {
        /* background-image: url(../Image/image4-2_small.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; */
      }

      &--title,
      &--icon {
        z-index: 10;
      }

      &--title {
        font-size: 3.5rem;
        color: #ffffff;
        font-weight: 500;

        @include respond(kpcl-834) {
          font-size: 5rem;
        }

        @include respond(phone-large) {
          font-size: 3.5rem;
        }
      }

      &--icon {
        width: 9rem;
        height: 9rem;
        border-radius: 100%;
        background-color: #1111fa;
        // border: 0.5rem solid #0b0fe6b0;
        margin-bottom: 2rem;

        @include respond(phone-large) {
          width: 7rem;
          height: 7rem;
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    } // -top

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 2rem;
      position: relative;

      @include respond(phone-large) {
        padding-top: 1rem;
      }

      &--description {
        // width: 65%;
        line-height: 1.9rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 8rem;
        color: #78c0e0;

        @include respond(kpcl-834) {
          width: auto;
          font-size: 3rem;
          padding-bottom: 0;
        }

        @include respond(phone-large) {
          font-size: 2rem;
          padding-left: 0;
          padding-right: 0;
        }

        & p {
          font-size: 2rem;
          line-height: 2.8rem;
          letter-spacing: -0.1rem;

          @include respond(kpcl-834) {
            padding-left: 3rem;
            padding-right: 4rem;
          }

          @include respond(phone-large) {
            margin-top: 1rem;
            font-size: 2.5rem;
            line-height: 3.2rem;
          }
        }
      }

      &--icon {
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        background-color: red;
        filter: drop-shadow(0.5rem 0.5rem 0.5rem #070757);
        position: absolute;
        // top: 5rem;
        bottom: 2rem;
        right: -2rem;
      }
    } // -bottom
  } // __col

  &__arrow-right {
    fill: #f9f9f9;
    width: 4rem;
    height: 4rem;
    transform: translate(1.5rem, 1.5rem);
  }
} // section-activity

.section-activity__col-2 .section-activity__col-top {
  /* background-image: url(../Image/image4-1_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.section-activity__col-3 .section-activity__col-top {
  /* background-image: url(../Image/image4-3_small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

/* ICON */

.icon {
  &_bible,
  &_hands,
  &_walking {
    fill: #f9f9f9;
    width: 4.5rem;
    height: 4.5rem;
    transform: translate(2.2rem, 2.2rem);

    @include respond(phone-large) {
      width: 3.5rem;
      height: 3.5rem;
      transform: translate(1.7rem, 1.7rem);
    }
  }

  &_hands {
    transform: scale(1.2) translate(1.9rem, 1.9rem);

    @include respond(phone-large) {
      transform: scale(1.2) translate(1.5rem, 1.5rem);
    }
  }

  &_walking {
    transform: scale(1.1) translate(2.0rem, 1.9rem);

    @include respond(phone-large) {
      transform: scale(1.1) translate(1.5rem, 1.5rem);
    }
  }
} // icon

.section-activity__btn {
  width: 35rem;
  height: 7rem;
  border-radius: 7rem;
  background-color: #ff0000;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;

  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);

  @include respond(phone-large) {
    bottom: 5%;
  }

  &--text {
    font-family: "Readex Pro", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #f9f9f9;
    letter-spacing: 0.1rem;

    @include respond(kpcl-834) {
      font-size: 5rem;
    }

    @include respond(phone-large) {
      font-size: 3rem;
    }
  }

  &--icon {
    fill: #f9f9f9;
    width: 4rem;
    height: 4rem;
  }
}