@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Readex+Pro:wght@700&display=swap");

/* -webkit-text-stroke: 1px black; */

/* COLORS

COLOR NAMES: HEX NUMBER
blue-gradient: #312CB9
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* We want to set the font-size as 1rem. However, the default
  font size for a browser is 16px. So we calculate the % of 1rem/16px which
  is 62.5%. Now, a user can scale the font size in a browser without problems. */
  font-size: 62.5%; /* Set the base font-size to 1rem = 10px */

  @include respond(laptop) {
    font-size: 56.25%; // 9/16 max-width: 1300px
  }
  @include respond(tab-land-medium) {
    font-size: 46.875%; // 7.5/16 max-width: 1024px iPad Air 1,2 generation
  }
  @include respond(kpcl-985) {
    font-size: 43.75%; // 7/16 max-width: 985px
  }
  @include respond(tab-land-small) {
    font-size: 40.62%; // 6.5/16  max-width: 920px
  }
  @include respond(tab-port-large) {
    font-size: 38.75%; // 6.2/16 max-width: 854px
  }
  @include respond(kpcl-834) {
    font-size: 50%; // 8/16 max-width: 834px
  }
  @include respond(tab-port-medium) {
    font-size: 35.62%; // 5.7/16 max-width: 790px
  }
  @include respond(kpcl-749) {
    font-size: 34.37%; // 5.5/16 max-width: 749px
  }
  @include respond(kpcl-722) {
    font-size: 31.25%; // 5/16 max-width: 722px
  }
  @include respond(kpcl-658) {
    font-size: 28.12%; // 4.5/16 max-width: 658px
  }
  @include respond(kpcl-592) {
    font-size: 25%; // 4/16 max-width: 592px
  }
  @include respond(kpcl-526) {
    font-size: 23.125%; // 3.7/16 max-width: 526px
  }
  @include respond(kpcl-488) {
    font-size: 21.875%; // 3.5/16 max-width: 488px
  }
  @include respond(kpcl-460) {
    font-size: 20%; // 3.2/16 max-width: 460px
  }
  @include respond(phone-large) {
    font-size: 50%; // 8/16 max-width: 425px
  }
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; /* 16px */
  line-height: 1.7;
  color: #2d2d2d;
  /* padding: 5rem; */
  box-sizing: border-box;

  overflow: overlay;
  &::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90, 1);
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }
}

main {
  width: 100%;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
}

.header {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  background-image: url(../Image/image1-1.jpg);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: 0 -10rem;
  background-repeat: no-repeat;
  // margin: 5rem;
  padding-top: 5rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;

  @include respond(kpcl-834) {
    width: 100%;
    font-size: 2.5rem;
    background-position: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @include respond(phone-large) {
    height: 85vh;
    background-position: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5rem;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right bottom,
      rgb(12, 14, 95) 0%,
      rgba(12, 14, 95, 0.1) 50%,
      rgba(12, 14, 95, 0.4) 80%,
      #0c0e5f 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__logo {
    font-family: "Readex Pro", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15rem;
    color: transparent;
    -webkit-text-stroke: 0.4rem #f9f9f9;
    margin-top: -3rem;
    margin-left: 10rem;
    z-index: 999;

    @include respond(kpcl-834) {
      font-size: 25rem;
      margin-left: 0;
    }

    @include respond(phone-large) {
      font-size: 15rem;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 5rem;
    }

    /* &::after {
      content: "";
      display: inline-block;
      width: 40rem;
      height: 40rem;
      border: 1.5rem solid #ff0000;
      position: absolute;
      top: 5rem;
      left: -3rem;
      z-index: -1;
    } */
  }

  &__nav {
    height: 5rem;
    display: flex;
    /* background-color: thistle; */
    align-items: center;

    // 2020.4.10
    position: fixed;
    top: 7rem;
    right: 10rem;
    z-index: 9999;

    @include respond(kpcl-834) {
      height: auto;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10rem;
    }

    @include respond(phone-large) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__sns {
    margin-right: 5rem;
    display: flex;
    justify-content: space-around;

    @include respond(kpcl-834) {
      margin-right: 0;
      margin-bottom: 5rem;
    }

    @include respond(phone-large) {
      margin-right: 0;
      margin-bottom: 5rem;
    }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    /* background-color: yellow; */
    margin-right: 1rem;
    fill: #ffffff;

    @include respond(kpcl-834) {
      width: 7rem;
      height: 7rem;
    }

    @include respond(phone-large) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__sns li:not(:last-child) {
    margin-right: 1rem;

    @include respond(phone-large) {
      margin-right: 0;
    }
  }

  &__btn {
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    //margin-right: 5rem;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    // background-color: #0d14ee;
    background-color: #ee0d0d;

    @include respond(kpcl-834) {
      margin-right: 0;
    }

    @include respond(phone-large) {
      margin-right: 0;
    }

    &-text {
      font-family: "Readex Pro", sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;

      @include respond(kpcl-834) {
        font-size: 5.5rem;
      }

      @include respond(phone-large) {
        font-size: 3.5rem;
      }
    }
  }
}

/* ***********************************

              TEST HEADER 

************************************ */
.test {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 5rem 10rem 0 10rem;

  @include respond(phone-large) {
    flex-direction: column;
    padding: 3rem 1rem 0 1rem;
  }

  &__logo {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding-top: 1rem;

    @include respond(phone-large) {
      font-size: 2.4rem;
      text-align: center;
      padding-top: 0;
    }

    & span {
      color: transparent;
      -webkit-text-stroke: 0.2rem #ffffff;
    }
  }

  &__right {
    width: 40%;
    display: flex;
    justify-content: flex-end;

    @include respond(phone-large) {
      width: 100%;
      justify-content: center;
      margin-top: 2rem;
    }
  }

  &__sns {
    padding-top: 1rem;
    margin-right: 3rem;

    & ul {
      display: flex;
      justify-content: center;

      & li {
        color: white;
      }

      & li:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
  }

  &__checkbox {
    display: none;
  }

  &__nav-button {
    width: 7rem;
    height: 7rem;
    background-color: red;
    border-radius: 100%;
    display: block;

    //text-align: center;
    position: relative;
    z-index: 999;

    transition: all 0.1s ease-in-out;

    &-bar {
      margin-top: 3.2rem;
      margin-left: 1.6rem;

      &,
      &::before,
      &::after {
        width: 3.5rem;
        height: 5px;
        border-radius: 2px;
        background-color: #ffffff;
        display: inline-block;

        position: absolute;
        top: 0;
        left: 0;
      }

      &::before,
      &::after {
        content: "";
        transition: all 0.2s ease-in-out;
      }

      &::before {
        top: -10px;
      }
      &::after {
        top: 10px;
      }
    }
  }

  &__background {
    width: 7px;
    height: 7rem;
    background-color: red;
    display: none;

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    transition: all 0.1s ease-in-out;
  }

  &__menu {
    width: 100%;
    padding: 3rem 3rem 5rem 3rem;
    opacity: 0;
    position: absolute;
    top: -1rem;
    right: 0;
    transition: all 0.1s ease-in-out;

    @include respond(phone-large) {
      padding: 3rem 1.5rem 5rem 1.5rem;
    }

    &-worship-program {
      //font-size: 2.7rem !important;
    }

    & li {
      font-size: 3rem;
      font-weight: 500;
      //color: white;

      @include respond(phone-large) {
        font-size: 2.5rem;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.835);
      }

      & a {
        color: #ffffff;

        &:hover {
          border-bottom: 0.3rem solid #ffffff;
        }
      }
    }

    & li:not(:last-child) {
      margin-bottom: 1rem;

      @include respond(phone-large) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__nav-button:hover {
    cursor: pointer;
  }

  &__nav-button:hover &__nav-button-bar::before {
    transform: translateY(-0.3rem);
  }

  &__nav-button:hover &__nav-button-bar::after {
    transform: translateY(0.3rem);
  }

  &__checkbox:checked ~ &__nav-button {
    border-radius: 0;
  }

  &__checkbox:checked ~ &__nav-button &__nav-button-bar {
    background-color: transparent;
  }

  &__checkbox:checked + &__nav-button &__nav-button-bar::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__nav-button &__nav-button-bar::after {
    top: 0;
    transform: rotate(-135deg);
  }

  &__checkbox:checked ~ &__background {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  &__checkbox:checked ~ &__menu {
    position: static;
    opacity: 1;
  }
}

.scroll {
  padding-top: 2rem;
  padding-bottom: 5rem;
  //background-color: rgba(12, 13, 95, .2);
  background: linear-gradient(
    to top,
    rgba(12, 14, 95, 0) 0%,
    rgba(12, 14, 95, 0.55) 50%,
    rgba(66, 12, 95, 0.85) 100%
  );
  transition: all 0.2s;

  @include respond(phone-large) {
    padding-top: 5rem;
  }
}
