/* **********************
  
       SECTION - FAQ
  
************************ */

.section-faq {
  width: 100%;
  // padding-top: 20rem;
  padding-bottom: 20rem;
  background-color: rgb(55, 60, 241);
  position: relative;

  @include respond(phone-large) {
    padding-bottom: 7rem;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../Image/cross-pattern-1.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;

    /* background: url(../Image/cross-pattern-1.png),
      linear-gradient(
        to bottom,
        rgba(45, 0, 125, 0.4) 0%,
        rgba(30, 150, 209, 0.7) 64%,
        rgba(198, 218, 238, 0.3) 100%
      );
    background-repeat: repeat;
    background-blend-mode: overlay;
    -webkit-mask-image: linear-gradient(
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.7) 80%,
      rgba(0, 0, 0, 0.1) 100%
    );
    mask-image: linear-gradient(
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.7) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ); */
  }

  &__contents {
    width: 70%;
    margin: 0 auto;
    /* background-color: chocolate; */

    @include respond(kpcl-834) {
      width: 100%;
    }

    @include respond(phone-large) {
      width: 100%;
    }

    &-title {
      width: 60%;
      padding-top: 20rem;
      padding-bottom: 5rem;
      background-color: rgb(48, 137, 253);
      border-bottom-right-radius: 20rem;
      filter: drop-shadow(1rem 1rem 3rem #070757);

      @include respond(kpcl-834) {
        padding-top: 10rem;
      }

      @include respond(phone-large) {
        width: 100%;
        padding-top: 5rem;
        filter: none;
      }

      & h2 {
        color: #11114d;

        &:first-child {
          font-size: 6rem;
          font-weight: 900;
          position: relative;
          z-index: 999;

          @include respond(kpcl-834) {
            font-size: 8rem;
          }

          @include respond(phone-large) {
            font-size: 5rem;
          }

          &::before {
            content: "\003F";
            display: block;
            width: 100%;
            height: 100%;
            color: transparent;
            -webkit-text-stroke: 0.2rem #f9f9f9;
            font-size: 20rem;
            position: absolute;
            top: -20rem;
            left: -6rem;
            z-index: -1;

            @include respond(kpcl-834) {
              font-size: 30rem;
              left: 3rem;
            }

            @include respond(phone-large) {
              font-size: 10rem;
              top: -7rem;
              left: 1rem;
            }
          }
        }

        &:last-child {
          background-color: rgb(28, 0, 128);
          filter: drop-shadow(1rem 1rem 1rem #070757);
          padding: 2rem;
          border-bottom-left-radius: 5rem;
          font-size: 5.3rem;
          color: transparent;
          -webkit-text-stroke: 0.15rem #f9f9f9;
          border: 0.2rem solid #f9f9f9;
          margin-top: -1.5rem;
          margin-left: -5rem;

          @include respond(kpcl-834) {
            font-size: 6.5rem;
            margin-left: 0;
          }

          @include respond(phone-large) {
            width: 98%;
            margin: 0 auto;
            padding: 1rem 2rem 0;
            margin-left: 0;
            font-size: 4.5rem;
            filter: none;
          }
        }
      } // h2
    } // -title

    &-questions {
      margin-top: 10rem;

      & ul {
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem 1rem 2rem;
        margin-bottom: 2.5rem;
        background-color: rgb(28, 0, 128);
        border-radius: 0 5rem 5rem 0;

        @include respond(kpcl-834) {
          width: 85%;
        }

        @include respond(phone-large) {
          width: 98%;
          padding-left: 0.5rem;
        }

        & li {
          font-size: 2.7rem;
          font-weight: 400;
          color: #f9f9f9;

          @include respond(kpcl-834) {
            font-size: 3.5rem;
          }

          @include respond(phone-large) {
            font-size: 2rem;
          }

          &:first-child {
            margin-right: 5rem;

            @include respond(phone-large) {
              margin-right: 0;
            }
          }

          &:last-child {
            width: 5rem;
            height: 5rem;
            border-radius: 100%;
            background-color: red;
          }
        }
      }
    } // -questions
  } // __contents

  &__arrow-right {
    fill: #f9f9f9;
    width: 3rem;
    height: 3rem;
    transform: translate(1rem, 0.5rem);

    @include respond(kpcl-834) {
      transform: translate(1rem, 1rem);
    }

    @include respond(phone-large) {
      transform: translate(1rem, 1rem);
    }
  } // __arrow-right
} // section-faq
