/* *************************

           FOOTER

************************** */

.footer {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-image: url(../Image/cross-pattern-1.png);
    background-repeat: repeat;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
  }

  &__contents {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10rem 0;

    @include respond(kpcl-834) {
      width: 100%;
      padding-left: 3rem;
      padding-right: 6rem;
    }

    @include respond(phone-large) {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding-top: 4rem;
      padding-bottom: 5rem;
    }

    &-left {
      //padding-top: 2.5rem;

      @include respond(phone-large) {
        text-align: center;
      }

      &--church {
        &-name {
          font-size: 3rem;
          font-weight: 700;
          letter-spacing: 0.1rem;

          @include respond(kpcl-834) {
            font-size: 5.5rem;
          }

          @include respond(phone-large) {
            font-size: 3.5rem;
          }
        } // -name

        &-address {
          font-size: 1.6rem;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 1.8rem;
          margin-top: 2rem;
          margin-bottom: 5rem;
          
          @include respond(kpcl-834) {
            font-size: 3rem;
          }

          @include respond(phone-large) {
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
          }

          
        } // -address
      } // --church

      & ul {
        font-size: 1.8rem;
        font-weight: 700;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include respond(kpcl-834) {
          font-size: 3rem;
        }

        @include respond(phone-large) {
          font-size: 2.25rem;
        }
      }

      &--email {
        margin-bottom: -0.5rem;
      }
    } // -left

    &--icon {
      &-email,
      &-phone {
        width: 2.5rem;
        height: 2.5rem;
        transform: translateY(0.5rem);
        margin-right: 1rem;
      }
    } // --icon

    &-right {
      &--sns {
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond(phone-large) {
          margin-top: 5rem;
        }
      }

      &--sns li:not(:last-child) {
        margin-right: 2rem;
      }

      &--icon {
        width: 5rem;
        height: 5rem;
      }

      &--sitemap {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin-top: 5rem;

        @include respond(kpcl-834) {
          font-size: 4.5rem;
        }

        @include respond(phone-large) {
          display: none;
        }
      }

      &--worship {
        margin-top: 4rem;
        padding-left: 10rem;

        @include respond(phone-large) {
          padding-left: 0;
        }

        &-list {
          font-size: 2rem;
          font-weight: 500;
        }
      }
    } // -right
  } // __contents
} // footer

.section-copyright {
  width: 100%;
  background: url(../Image/image6-1_small.jpg), #1111e2;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position-y: 85%;

  &__contents {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;

    @include respond(kpcl-834) {
      width: 100%;
      font-size: 2.5rem;
    }

    @include respond(phone-large) {
      font-size: 1.625rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & li {
      &:not(:last-child) {
        color: #00ffdd;
        margin-right: 1rem;
      }

      &:last-child {
        color: #ffffff;
        margin-left: 30rem;

        @include respond(kpcl-834) {
          margin-left: 10rem;
        }

        @include respond(phone-large) {
          margin-left: 0;
        }
      }
    }
  } // __contents
} // section-copyright

.copyright {
  font-size: 2rem;
}
